<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listing</title>
</head>
<body>

<h1>Category Management</h1>

<ul>
    <li th:each="category : ${categories}">
        <span th:text="${category.getName()}"></span> - <span th:text="${category.getDescription()}"></span>
        <a th:href="@{/category/delete(id=${category.getId()})}">Delete</a>
        <a th:href="@{/category/update(id=${category.getId()})}">Update</a>
    </li>
</ul>

</body>
</html>